<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# prefix属性: http://ogp.me/ns/ prefix属性#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>デザイナーステータス</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@uchibashi" />
    <meta property="og:url" content="https://designer-status.firebaseapp.com/result/<%- uid %>" />
    <meta property="og:title" content="デザイナーステータス" />
    <meta property="og:description" content="デザイナー力を自己診断する自己満アプリです。" />
    <meta property="og:image" content="<%- url %>" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> -->
    <style>

    </style>
</head>

<body>
    <div>こっちのページ！！</div>
    <script>
      //  location.href = '/';
    </script>

</html>